<% if matching_users_paginated.total_results_count > matching_users_paginated.results_per_page %>
<div class="pagination" id="pagination">
  <% if matching_users_paginated.show_first_link? %>
  <%= link_to "First",  "#{request.path}?page=1", :id => "first" %>
  <% end %>

  <% if matching_users_paginated.has_prev_page? %>
    <%= link_to "« Previous", "#{request.path}?page=#{matching_users_paginated.page - 1}", :id => "prev" %>
  <% end %>  

  <% if matching_users_paginated.show_page_links? %>
    <span id="page-links">
      <% matching_users_paginated.page_numbers_to_link.each do |page_num| %>
      <span>
        <% if page_num.nil? %>
        <span id="page-links-elision">...</span>
        <% elsif page_num == matching_users_paginated.page %>
        <span id="current-page-num"><%= page_num %></span>
        <% else %>
        <%= link_to page_num, "#{request.path}?page=#{page_num}", :id => "page-#{page_num}-link" %>
        <% end %>
      </span>
      <% end %>
    </span>
  <% end %>
  
  <% if matching_users_paginated.has_next_page? %>
    <%= link_to "Next »", "#{request.path}?page=#{matching_users_paginated.page + 1}", :id => "next" %>
  <% end %>
  <% if matching_users_paginated.show_last_link? %>
  <%= link_to "Last",  "#{request.path}?page=#{matching_users_paginated.total_page_count}", :id => "last" %>
  <% end %>
</div>
<% end %>