<% @page_title = "Find Someone on Twitter - Plenty of Tweeps" %>

<% content_for :header do %>
<script type="text/javascript">
  $(function() {
    $('#user_login').focus();
    $('button[type=submit]').button();
  });
</script>

<% end %>

<% content_for :sidebar do %>
<% if @recently_viewed_users.present? %>
<h3 style="margin-bottom: 1em">Recently Viewed</h3>
<%= render :partial => "users/recently_viewed_users_listing",
           :locals => {:users => @recently_viewed_users} %>
<% end %>

<% if @recently_online_users.present? %>
<h3 style="margin-bottom: 1em">Recently Online</h3>
<%= render :partial => "users/sidebar_user_listing",
           :locals => {:users => @recently_online_users} %>
<% end %>
<% end %>

<%= render :partial => "sub_navigation_tabs" %>

<div id="non-results-content">
  <h2>User Lookup</h2>
  <% if flash[:notice].present? %>
  <div class="notice round">
    <ul>
      <li><%= flash[:notice] %></li>
    </ul>
  </div>
  <% end %>
  <p>Got the hots for someone in particular? Want to find out more about one
    of your fellow tweeps? You're in the right place.</p>
  
    <% form_tag go_to_user_path, :id => "go-to-user", :style => "border: 0; padding: 0;", :method => :get do %>
    <fieldset style="padding: 0">
      <div class="data" style="margin-right: 1em">
        <label>Twitter Username</label>
        <div class="ctn_input">
          <%= text_field "user", "login" %>
          <button type="submit" style="font-size: 0.9em">
            <%= image_tag("search_icon_16.png") %>
            Find
          </button>
        </div>
      </div>
      <!-- <span style="display: inline-block">
        <%= submit_tag "Find", :class => "round",
                                     :id => "search-btn",
                                     :style => "margin-top: 1.4em; font-size: 1.1em; float: left; padding: 0.3em" %>
      </span> -->
    </fieldset>
    <% end %>
</div>