<% @page_title = "Edit Profile - Plenty of Tweeps" %>

<% content_for :sidebar do %>
<div>
  <h3>Profile Tips</h3>
  <p>
    A good profile goes a long way to finding a great match.
    Here are a couple hints to keep in mind in creating your profile:
  </p>
  <p>
    <strong>1. Your bio is important.</strong> While
    your Twitter activity stream provides a unique
    window into your day-to-day life, nothing beats
    a well written "More About You"
    section.
  </p>
  <p>
    <strong>2. Photos rock!</strong> Users who
    <%= link_to "upload photos", manage_photos_users_path %> get better results
    than those who don't. And if you upload at least two images, we'll include you
    in the featured profile that appears on the <%= link_to "home page", root_path %>.
  </p>
</div>
<% end %>

<%= render :partial => "profile_sub_navigation_tabs" %>

<div id="non-results-content">
<h2>Your Profile</h2>

<% if current_user.errors.present? %>
<div class="errors round" style="margin-bottom: 0.5em">
  <ul>
    <% current_user.errors.each_full do |err_msg| %>
    <li>
      <%= err_msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<% if flash[:notice].present? %>
<div class="notice round" style="margin-bottom: 0.5em">
  <ul>
    <li><%= flash[:notice] %></li>
  </ul>
</div>
<% end %>

<% form_for current_user, :url => profile_users_path, :id => "signup", :html => {:style => "margin-top: -0.5em"} do |f| %>

<div id="setup-container" style="margin-left: 0; padding: 0; border: 0; width: 100%; background-color: white;">

<fieldset style="margin: 0; padding: 0">
  <div class="data" style="float: right; margin-right: 0.7em">
    <%= f.label :extended_bio, "More About You", :style => "color: #2e2e2e"  %>    
    <div class="ctn_input" style="width: 400px">
      <%= f.text_area :extended_bio, :maxlength => "5000", :style => "height: 15em; width: 100%" %>
      <small style="color: #666666">
        What are your hobbies and interests? What kind of relationship are you looking for?
        What do you look for in an ideal mate? Inquiring minds want to know.
      </small>
    </div>
  </div>
  <div class="data">
    <%= f.label :login, "Twitter Username", :style => "color: #2e2e2e" %>
    <span style="color: #2e2e2e"><%= h current_user.login %></span>
  </div>
  <div class="data">
    <%= f.label :email, "Email", :style => "color: #2e2e2e" %>
    <div class="ctn_input">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="data">
    <%= f.label :birth_date, "Birth Date", :style => "color: #2e2e2e" %>
    <div class="ctn_input">
      <%= f.date_select :birth_date, :start_year => 1900, :end_year => Time.now.year - 18, :default => 25.years.ago  %>
    </div>
  </div>
  <div class="data">
    <%= f.label :gender, "I am a", :style => "color: #2e2e2e" %>
    <div class="ctn_input">
      <%= f.select :gender, [["Guy", "M"], ["Girl", "F"]] %>
    </div>
  </div>
  <div class="data">
    <%= f.label :interested_in, "Interested in", :style => "color: #2e2e2e"  %>
    <div class="ctn_input">
      <%= f.select :interested_in, [["Guys", "M"], ["Girls", "F"]] %>
      <label style="display: inline; color: #2e2e2e">from</label>
      <%= f.select :min_age, 18..99 %>
      <label style="display: inline; color: #2e2e2e">to</label>
      <%= f.select :max_age, 18..99 %>
    </div>
  </div>
  <div class="data">
    <%= f.label :location, "Living in", :style => "color: #2e2e2e"  %>
    <span style="color: #2e2e2e"><%= current_user.location %></span> <%= link_to "(change?)", set_location_users_path %>
  </div>
  <button type="submit" style="position: relative; top: 0.8em">
    <%= image_tag('disk_icon_16.png', :class => "icon-16") %> Save Changes
  </button>
</fieldset>
</div>
<% end %>
<script type="text/javascript">
  $(function() {
    $('#user_email').focus();
    $('button[type=submit]').button();
  });
</script>
<div style="clear:both"></div>

</div>
