<div id="footer">
  <ul class="round">
    <li><%= link_to "Home", recent_activity_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Browse Cities", cities_path %></li>
    <!-- <script type="text/javascript" src="http://cdn.socialtwist.com/2009111129364/script.js"></script>
    <li style="color: orange;" onmouseout="STTAFFUNC.hideHoverMap(this)" onmouseover="STTAFFUNC.showHoverMap(this, '2009111129364', window.location, document.title)" onclick="STTAFFUNC.cw(this, {id:'2009111129364', link: window.location, title: document.title });">Tell-a-Friend</li> -->
    <li><%= link_to "Contact Us", contact_us_path %></li>
    <li><%= link_to "Follow Us on Twitter", "http://www.twitter.com/PlentyOfTweeps" %></li>
    <li style="float:right">&copy; 2009-2010 Plenty of Tweeps</li>
  </ul>
</div>