<% @page_title = "Contact Plenty of Tweeps" %>

<% content_for :sidebar do %>
<div>
  <h3>Our offices</h3>
  <p>We are located in beautiful <%= link_to "Vancouver, Canada", "http://en.wikipedia.org/wiki/Vancouver", :target => "_blank" %>.</p>
  <p>We currently work out of <%= link_to "Brad's", "http://www.twitter.com/30sleeps", :target => "_blank" %> kitchen. It's not much, but it's got a spectacular view. :)</p>
</div>
<% end %>

<div class="funky-status">Contact Us</div>

<div class="contact">  
  <p>Technical Support</p>
  <p><%= link_to "support@plentyoftweeps.com", "mailto:support@plentyoftweeps.com" %></p>
  
  <p style="margin-top: 1em">Press Enquiries</p>
  <p><%= link_to "bradb@plentyoftweeps.com", "mailto:bradb@plentyoftweeps.com" %></p>
  
  
  <p style="margin-top: 1em">Twitter</p>
  <p><%= link_to "@PlentyOfTweeps", "http://www.twitter.com/PlentyOfTweeps" %></p>
  
  <p style="margin-top: 1.5em">We look forward to chatting with you. :)</p>
</div>