<% @page_title = "500 Server Error - Plenty of Tweeps" %>

<div class="error-status">
  Oops, something went wrong.
</div>

<div style="text-align: center">
  <%= image_tag "jumping-spider.jpg" %>
  <div class="photo-credit"><small>A picture of <%= link_to "the bug", "http://en.wikipedia.org/wiki/Jumping_spider" %> you just found, courtesy of <%= link_to "opoterser", "http://www.flickr.com/photos/opoterser/3634381424/" %>.</small></div>
  
</div>

<div class="error-explanation" style="width: 28em; text-align: left; padding: 0em 1em">
  Sorry, <strong>we screwed up</strong>. Totally not cool. <strong>We've been notified</strong>
  of the error you just got and are looking into it.
</div>

<div class="error-explanation" style="width: 28em; text-align: left; padding: 1em 1em 0 1em">
  In the meantime, <strong>refreshing the page</strong> might fix things. We also invite you to <strong>contact us</strong> <%= link_to "on Twitter", "http://www.twitter.com/PlentyOfTweeps" %> or
  <%= link_to "via email", "mailto:support@plentyoftweeps.com" %> for additional help.
</div>

<div style="clear:both"></div>